/* Chupy Components */

@import url("components/key-visual.css");
@import url("components/color.css");
@import url("components/form.css");
@import url("components/link.css");

/* Custom Style */

body>footer {
  padding: 16px 0px;
  background-color: var(--color-primary);
}

body>footer p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-weight: bold;
}

body>footer p>img {
  height: 54px;
  width: auto;
  object-fit: contain;
}

#error-msg {
  display: none;
  color: var(--color-error);
  font-weight: bold;
  font-size: .9em;
  font-style: italic;
}

#error-msg.invalid {
  display: inline-block
}

.container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

.container>header {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 16px;
}

.container>header>img {
  height: 128px;
}

.container>main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 16px;
  margin: auto;
  display: block;
  text-align: center;
}

.container>main>h1 {
  font-size: 2em;
  margin-bottom: 8px;
  color: var(--color-black);
}

.container>main p {
  font-size: 1em;
  margin-bottom: 4px;
}
