main{
  padding-top: calc(var(--navbar-size) + 16px);
}

.chupy-product > header{
  border-bottom: 2px solid rgba(0,0,0,0.3);
  padding-bottom: 16px;
}

.chupy-product-header h1,
.chupy-product-header h3{
  font-weight: 300;
}

.chupy-filter .divider{
  padding-left: 2px;
  padding-right: 2px;
}



.header-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width:768px){
  .chupy-product-header{
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width:768px) and (max-width:1365px) {
  .chupy-product-header img{
      width: 100%;
  }
}


@media screen and (max-width:767px) {
  .header-img{
    justify-content: flex-start;
  }
  .chupy-product-header img{
      height: 100px;
      width: auto;
  }
}
